.container {
    user-select: none;
    margin: 0 auto 1.6rem;
    display: flex;
    justify-content: center;
}

.outer {
    width: 100%;
}

.tab {
    padding: 1rem;
    width: 70px;
    border-bottom: 3px solid white;
    opacity: 0.5;
    transition: 200ms filter ease-in-out;
}

.tab:hover {
    opacity: 0.5;
    border-bottom: 3px solid #ebe5ff;
    background: #ebe5ff;
}

.tab-img {
    object-fit: cover;
}

.active {
    opacity: 1;
    border-bottom: 3px solid #7d5cff;
}

.active:hover {
    opacity: 1;
    border-bottom: 3px solid #7d5cff;
}

@media (max-width: 488px) {
    .container {
        padding: 0 0.35rem;
    }

    .tab {
        padding: 0.4rem;
    }
}