.container {
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: center;
}

.outer {
    width: 100%;
}

.tab {
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 3px solid white;
    filter: grayscale(100);
    transition: 200ms filter ease-in-out;
}

.tab:hover {
    filter: grayscale(0);
    border-bottom: 3px solid #ebe5ff;
    ;
    background: #ebe5ff;
    ;
}

.active {
    filter: grayscale(0);
    border-bottom: 3px solid #7d5cff;
}

.active:hover {
    border-bottom: 3px solid #7d5cff;
}