.test {
	font-family: 'Montserrat',
		sans-serif;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: rgb(255, 254, 250);
}

.loading {
	height: 150vh;
	width: 100%;
	text-align: center;
}