.container {
    padding: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
}