.nameContainer {
    width: 100%;
    margin: auto;
    max-width: 900px;
    width: 100%;
}

.container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
}

.emojiType {
    color: rgb(39, 52, 59);
    font-weight: 500;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2.5rem;
}

@media (max-width:1125px) {
    .nameContainer {
        grid-template-columns: repeat(auto-fill, 80px);
        width: 80%;
        margin: 0 10%;
    }
}

@media (max-width:420px) {
    .nameContainer {
        grid-template-columns: repeat(auto-fill, 80px);
        width: 90%;
        margin: 0 5%;
    }
}