.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid #7d5cff;
    background: rgba(182, 160, 255, 0.85);
    font-size: 1rem;
    user-select: none;
    animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container span {
    line-height: normal;
}

.emojiImage {
    margin-right: 1rem;
    width: 100%;
    max-width: 1.5rem;
    object-fit: contain;
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 900px;
        transform-origin: 50% 900px;
        opacity: 1;
    }
}