.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 7px;
  /* border: 1px solid #7d5cff; */
  background: rgba(182, 160, 255, 0.9);
  font-size: 1rem;
  user-select: none;
}

.container span {
  line-height: normal;
}

.emojiImage {
  margin-right: 1rem;
  width: 100%;
  max-width: 1.5rem;
  object-fit: contain;
}