.container {
    width: 100%;
}

.input {
    display: block;
    margin: 2rem auto 1rem;
    width: 100%;
    padding: 0.75rem 2.5rem;
    font-size: 1.1rem;
    border: 2px solid #eee;
    background: #eee;
    color: rgb(39, 52, 59);
    border-radius: 30px;
    transition: 150ms border ease-in-out,
        150ms background ease-in-out;
}

.input:focus {
    caret-color: #5BA8E8;
    outline: none;
    background: white;
    border: 2px solid #5BA8E8;
}

.inputBox {
    margin: auto;
    width: 45%;
    max-width: 500px;
    min-width: 300px;
    position: relative;
}

.searchIcon {
    width: 1.25rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}