.emoji {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.emoji:hover {
    background: #5BA8E8;
}

.emojiImage {
    width: 50px;
}

@media (max-width:1300px) {
    .emojiImage {
        width: 50px;
    }
}